.indent {
  font-size: 1.6vw;
  text-align: left;
  text-indent: 2em;
}

.display-center {
  /*flex 布局*/
  display: flex;
  /*实现垂直居中*/
  align-items: center;
  /*实现水平居中*/
  justify-content: center;
}

.align-center {
  margin: 0 auto;
  text-align: center;
}


