.img_center {
  color: white;
  font-family: 新宋体;
  font-size: 3vw;
  position: absolute;
  left: 45%;
  top: 70%;
}

.prev{
  position: absolute;
  top: 50%;
  left: 10%;
  font-size: 3vw;
  color: cadetblue;
}

.next{
  position: absolute;
  top: 50%;
  right: 10%;
  font-size: 3vw;
  color: cadetblue;
}
