.img_center {
  font-family: 楷体;
  font-size: 3vw;
  position: absolute;
  left: 45%;
  top: 70%;
}

.img_center_blue {
  .img_center;
  color: dodgerblue;
}

.img_center_black {
  .img_center;
  color: crimson;
}
.img_center_white {
  .img_center;
  color: white;
}


.prev {
  position: absolute;
  top: 50%;
  left: 10%;
  font-size: 3vw;
  color: cadetblue;
}

.next {
  position: absolute;
  top: 50%;
  right: 10%;
  font-size: 3vw;
  color: cadetblue;
}
